@model TicketSystem.Models.UserStatsModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <script src="~/js/chart.js-2.9.3/dist/Chart.js"></script>
    <script src="~/js/site.js"></script>

</head>
<body class="main chart-container">
    <canvas class="shadow" id="myChart" ></canvas>
    <script>chart('@Model.Name', '@Model.Claimed', '@Model.Closed')</script>
</body>
<footer>
</footer>
